
body {
    background: #d5e1ef;
    margin: 0;
    padding: 0;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    border: 2px solid #fff;
    width: 50%; 
    max-width: 410px; 
    min-width: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

section img {
    width: 100%; 
    max-width: 400px;
    border-radius: 20px;
}

section h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.9em;
    padding: 0 10px;
}

section p {
    text-align: center;
    margin-top: 2px;
    color: #686868;
}


@media (max-width: 650px) {
    section {
        width: 79%; 
        padding: 15px;
    }

    section h1 {
        font-size: 1.5em; 
    }

    section p {
        font-size: 0.9em;
    }
}
@media (max-width: 321px) {
    section {
        width: 300px; 
        padding: 10px;
    }

    section h1 {
        font-size: 1.1em; 
        padding: 0 5px;
    }

    section p {
        font-size: 0.8em; 
    }

    section img {
        width: 100%; 
        max-width: 280px; 
    }
}
Expl
