body {
    background: #d5e1ef;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    border: 2px solid #fff;
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
}

section img {
    width: 400px;
    border-radius: 20px;
}

section h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 190%;
    padding: 0 10px;
}

section p {
    text-align: center;
    margin-top: 2px;
    color: #686868;
}