/* General Styles */
body {
    background: #d5e1ef;
    margin: 0;
    padding: 0;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    border: 2px solid #fff;
    max-width: 410px; /* Limit width without stretching on larger screens */
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

section img {
    width: 100%;
    max-width: 400px; /* Keep image within the section width */
    border-radius: 20px;
}

section h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.9em;
    padding: 0 10px;
}

section p {
    text-align: center;
    margin-top: 2px;
    color: #686868;
}

/* Media query for smaller screens */
@media (max-width: 650px) {
    section {
        padding: 15px;
        max-width: 320px; /* Slightly smaller max width for smaller screens */
    }

    section img {
        width: 100%; /* Image adapts to section size */
        height: auto;
    }

    section h1 {
        font-size: 0.9em; /* Reduced font size */
    }

    section p {
        font-size: 0.8em;
    }
}
